<!-- CONTENEDOR GLOBAL -->
<div class="min-h-screen bg-gray-100 p-8 space-y-6">

  <!-- Breadcrumb -->
  <div class="text-sm text-gray-600 mb-2">
    <span class="text-[#004C77] font-semibold">Inicio</span> &gt;
    <span class="text-[#004C77] font-semibold">Expedientes</span> &gt;
    <span class="text-[#F36C21] font-semibold">Adicionar expediente</span>
  </div>

  <!-- Título -->
  <h1 class="text-2xl font-bold text-[#004C77] mb-4">Adicionar Expediente</h1>

  <!-- Barra de pasos -->
  <div class="flex items-center gap-2 mb-6">
    <div *ngFor="let paso of [1, 2, 3, 4]" class="flex-1 h-2 rounded-full"
      [ngClass]="{ 'bg-[#004C77]': pasoActual >= paso, 'bg-gray-300': pasoActual < paso }">
    </div>
  </div>


  <!-- PASO 1 -->
  <div *ngIf="pasoActual === 1" class="bg-white rounded-xl shadow p-8 space-y-6">
    <h2 class="text-xl font-semibold text-[#004C77]">Seleccionar tipo de expediente</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
      <button (click)="seleccionarTipo('interno')"
        class="cursor-pointer w-full py-1.5 bg-[#004C77] text-white font-semibold rounded hover:opacity-90 transition">Expediente
        Emisor</button>
      <button (click)="seleccionarTipo('externo')"
        class="cursor-pointer w-full py-1.5 bg-[#F36C21] text-white font-semibold rounded hover:opacity-90 transition">Expediente
        Receptor</button>
    </div>
  </div>

  <!-- PASO 2 -->
  <div *ngIf="pasoActual === 2" class="bg-white rounded-xl shadow p-8 space-y-6">
    <div class="flex justify-between items-center mb-4">
      <h2 class="text-xl font-semibold text-[#004C77]">Registrar información del expediente</h2>

      <button type="button" matTooltip="Escanea y extrae automáticamente informacion clave" matTooltipPosition="above"
        (click)="scanCarta()"
        class="flex items-center gap-2 px-4 py-1.5 rounded-full bg-[#004C77] text-white hover:bg-[#003354] transition cursor-pointer"
        title="Escanear documento">
        <mat-icon fontIcon="scanner" class="!text-white">scanner</mat-icon>
        <span class="text-sm font-light">Escanear datos</span>
      </button>
      <input #fileInput type="file" accept="image/*,.pdf" class="hidden" (change)="onScanUpload($event)" />
    </div>

    <form [formGroup]="formularioPaso1" (ngSubmit)="siguientePaso()"
      class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-2">

      <div class="md:col-span-2">
        <label class="text-sm font-medium text-gray-700 label-obligatorio">Usuario emisor</label>
        <mat-form-field matTooltip="Ingresa el/los remitente(s) del expediente" appearance="outline" class="w-full">
          <mat-select [formControl]="controlUsuario" multiple class="max-w-full">
            <ngx-mat-select-search [formControl]="searchCtrlUsuario" placeholderLabel="Buscar usuario..."
              (keydown.enter)="abrirDialogoAgregarUsuario(searchCtrlUsuario.value || '', 'to')"
              noEntriesFoundLabel="No encontrado. Presiona ENTER para agregar"></ngx-mat-select-search>

            <mat-optgroup *ngFor="let tipo of tiposUsuario" [label]="tipo">
              <mat-option *ngFor="let user of obtenerUsuariosPorTipo(usuariosFiltradosTo, tipo)" [value]="user.nombre">
                {{ user.nombre }} - {{ user.correo }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="md:col-span-2">
        <label class="text-sm font-medium text-gray-700 label-obligatorio">Usuario destinatario (CC)</label>
        <mat-form-field matTooltip="Ingresa el/los destinatario(s) en copia" appearance="outline" class="w-full">
          <mat-select [formControl]="controlUsuarioCc" multiple>
            <ngx-mat-select-search [formControl]="searchCtrlCc" placeholderLabel="Buscar usuario..."
              (keydown.enter)="abrirDialogoAgregarUsuario(searchCtrlCc.value || '', 'cc')"
              noEntriesFoundLabel="No encontrado. Presiona ENTER para agregar"></ngx-mat-select-search>

            <mat-optgroup *ngFor="let tipo of tiposUsuario" [label]="tipo">
              <mat-option *ngFor="let user of obtenerUsuariosPorTipo(usuariosFiltradosCc, tipo)" [value]="user.nombre">
                {{ user.nombre }} - {{ user.correo }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="md:col-span-2">
        <label class="text-sm font-medium text-gray-700 label-obligatorio">Referencia(s)</label>
        <mat-form-field appearance="outline" class="w-full"
          matTooltip="Relaciona el expediente con una carta, documento o expediente anterior">
          <mat-select [formControl]="controlReferencia" multiple>
            <ngx-mat-select-search [formControl]="searchCtrlReferencia" placeholderLabel="Buscar referencia..."
              (keydown.enter)="abrirDialogoAgregarReferencia(searchCtrlReferencia.value || '')"
              noEntriesFoundLabel="No encontrado. Presiona ENTER para registrar nueva referencia"></ngx-mat-select-search>
            <mat-optgroup *ngFor="let tipo of tiposReferencia" [label]="tipo">
              <mat-option *ngFor="let ref of obtenerReferenciasPorTipo(tipo)" [value]="ref.serie">
                {{ ref.serie }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <label class="text-sm font-medium text-gray-700 label-obligatorio">Asunto</label>
        <input matTooltip="Resumen del contenido del expediente" type="text" formControlName="asunto"
          class="w-full px-3 py-2 border rounded" />
      </div>

      <div>
        <label class="text-sm font-medium text-gray-700 label-obligatorio">Fecha</label>
        <input type="date" formControlName="fecha" class="w-full px-3 py-2 border rounded" />
      </div>
      <div class="md:col-span-2 flex flex-col md:flex-row gap-8">
        <div class="flex-1">
          <label class="text-sm font-medium text-gray-700 label-obligatorio">Proyecto</label>
          <select formControlName="proyecto" class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Seleccione</option>
            <option *ngFor="let proyecto of proyectos" [value]="proyecto">{{ proyecto }}</option>
          </select>
        </div>
        <div class="flex-1">
          <label class="text-sm font-medium text-gray-700 label-obligatorio">Tipo de documento del expediente</label>
          <select formControlName="tipoDocumentoEntrada" class="w-full px-3 py-2 border rounded">
            <option value="" disabled selected>Seleccione</option>
            <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
          </select>
        </div>
      </div>
      <!-- Reservado -->
      <div class="md:col-span-2">
        <label class="text-sm font-medium text-gray-700 flex items-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 text-[#F36C21]" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 11c0 1.104-.896 2-2 2s-2-.896-2-2 .896-2 2-2 2 .896 2 2z" />
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 4h16v16H4z" />
          </svg>
          Reservado
        </label>
        <div class="flex gap-6 mt-2">
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" formControlName="reservado" value="si" class="accent-[#004C77]" />
            <span class="text-sm">Sí</span>
          </label>
          <label class="flex items-center gap-2 cursor-pointer">
            <input type="radio" formControlName="reservado" value="no" class="accent-[#004C77]" />
            <span class="text-sm">No</span>
          </label>
        </div>
      </div>
      <div class="md:col-span-2">
        <label class="text-sm font-medium text-gray-700">Observaciones</label>
        <textarea formControlName="comentario" rows="3" class="w-full px-3 py-2 border rounded resize-none"></textarea>
      </div>

      <div class="md:col-span-2 flex justify-between items-center mt-4">
        <button type="button" (click)="regresarPaso()"
          class="text-[#004C77] font-medium hover:underline cursor-pointer">←
          Regresar</button>
        <button type="submit" [disabled]="formularioPaso1.invalid"
          class="bg-[#004C77] text-white px-6 py-2 rounded hover:opacity-90 disabled:bg-gray-300 cursor-pointer">Siguiente</button>
      </div>
    </form>
  </div>

  <!-- PASO 3 -->
  <div *ngIf="pasoActual === 3" class="bg-white rounded-xl shadow p-8 space-y-6">
    <h2 class="text-xl font-semibold text-[#004C77]">Carga de documentos del expediente</h2>

    <!-- Campos superiores -->
    <form [formGroup]="formularioDocumento" class="grid grid-cols-1 md:grid-cols-3 gap-6 gap-y-2">
      <div>
        <label class="text-sm font-medium text-gray-700">Detalle</label>
        <input type="text" formControlName="detalle3" class="w-full px-3 py-2 border rounded" />
      </div>
    </form>


    <!-- Drag & Drop -->
    <div class="border-2 border-dashed rounded-lg p-10 text-center transition-all duration-300" [ngClass]="{
    'border-[#004C77] bg-blue-50': arrastrando,
    'border-gray-300 bg-gray-50': !arrastrando
  }" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)" (drop)="onFileDrop($event)"
      [ngClass]="{ 'border-blue-500 bg-blue-50': arrastrando }">
      <label for="uploadInput" class="cursor-pointer flex flex-col items-center space-y-2">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-[#004C77]" fill="none" viewBox="0 0 24 24"
          stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M4 16v1a2 2 0 002 2h12a2 2 0 002-2v-1M16 12l-4-4m0 0l-4 4m4-4v12" />
        </svg>
        <span class="text-sm text-gray-600">Arrastra tus archivos aquí o haz clic para seleccionar</span>
        <span class="text-xs text-gray-400">Archivos permitidos: PDF</span>
      </label>
      <input id="uploadInput" type="file" accept=".pdf" multiple class="hidden"
        (change)="onMultipleFilesSelected($event)" />
    </div>


    <!-- Documentos añadidos -->
    <div class="space-y-2">
      <h4 class="text-sm font-semibold text-gray-700">Documentos añadidos</h4>
      <div *ngFor="let doc of documentos; let i = index"
        class="flex justify-between items-center bg-white border border-gray-200 shadow-sm rounded px-4 py-3">
        <div class="flex items-center gap-4 w-full justify-between">
          <!-- Nombre y progreso -->
          <div class="flex items-center gap-3 w-full">
            <svg class="w-5 h-5 text-[#004C77] flex-shrink-0" fill="none" stroke="currentColor" stroke-width="2"
              viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M7 7h10M7 11h10M7 15h10M5 5v14a2 2 0 002 2h10a2 2 0 002-2V5a2 2 0 00-2-2H7a2 2 0 00-2 2z" />
            </svg>

            <span class="text-sm text-gray-700 w-[200px] truncate">
              {{ doc.nombre }}
            </span>

            <div class="flex-1 flex items-center gap-2">
              <div class="w-full max-w-[150px] h-2 bg-gray-200 rounded-full overflow-hidden">
                <div class="h-full bg-[#004C77] transition-all duration-300" [style.width.%]="doc.progreso"></div>
              </div>
              <svg *ngIf="doc.cargado" class="w-5 h-5 text-green-600" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
            </div>
          </div>

          <!-- Tipo de documento -->
          <div class="w-[180px]">
            <label class="text-xs text-gray-500 block mb-1">Tipo de documento</label>
            <select [(ngModel)]="doc.tipoDocumento" [ngModelOptions]="{ standalone: true }"
              class="cursor-pointer w-full px-2 py-1 text-sm border border-gray-300 rounded" required>
              <option value="" disabled>Seleccione</option>
              <option *ngFor="let tipo of tiposDocumento" [value]="tipo">{{ tipo }}</option>
            </select>
          </div>

          <!-- Acciones -->
          <div class="flex gap-3 text-sm">
            <button [matTooltip]="doc.visibleParaExternos ? 'Visible para externos' : 'Oculto para externos'"
              (click)="alternarVisibilidad(i)" class="cursor-pointer p-1 rounded hover:bg-gray-100 transition">
              <svg *ngIf="doc.visibleParaExternos" class="w-5 h-5 text-[#F36C21]" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M2.458 12C3.732 7.943 7.523 5 12 5s8.268 2.943 9.542 7c-1.274 4.057-5.065 7-9.542 7s-8.268-2.943-9.542-7z" />
              </svg>
              <svg *ngIf="!doc.visibleParaExternos" class="w-5 h-5 text-gray-400" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M13.875 18.825A10.05 10.05 0 0112 19c-4.477 0-8.268-2.943-9.542-7a9.969 9.969 0 012.386-3.872M10.6 4.184a9.957 9.957 0 012.268-.184c4.477 0 8.268 2.943 9.542 7a9.97 9.97 0 01-4.293 5.187M3 3l18 18" />
              </svg>
            </button>
            <button (click)="verDocumento(i)" matTooltip="Visualizar Documento"
              class="text-[#004C77] hover:underline cursor-pointer">Ver</button>
            <button (click)="eliminarDocumento(i)" matTooltip="Eliminar Documento"
              class="text-red-600 hover:underline cursor-pointer">Eliminar</button>
          </div>
        </div>

      </div>
    </div>

    <!-- Botones -->
    <div class="flex justify-between items-center mt-6">
      <button type="button" (click)="regresarPaso()" class="text-[#004C77] font-medium hover:underline cursor-pointer">←
        Regresar</button>

      <div class="flex items-center gap-4">
        <button type="button" (click)="omitirCargaDocumentos()"
          class="text-sm text-[#F36C21] hover:underline cursor-pointer">Omitir carga de documentos</button>

        <button (click)="onSubmit()" [disabled]="documentos.length === 0 || !todosLosDocumentosTienenTipo()"
          class="bg-[#004C77] text-white px-6 py-2 rounded hover:opacity-90 disabled:bg-gray-300 disabled:cursor-not-allowed cursor-pointer">
          Registrar expediente
        </button>

      </div>
    </div>

    <!-- Mensaje de éxito -->
    <div *ngIf="exito" class="text-center mt-4">
      <div class="inline-block bg-green-100 border border-green-400 text-green-700 px-4 py-2 rounded shadow">
        Expediente registrado exitosamente
      </div>
    </div>
  </div>
  <!-- PASO 4: Confirmación -->
  <div *ngIf="pasoActual === 4" class="bg-white rounded-xl shadow p-8 space-y-6 text-center">
    <div class="flex flex-col items-center justify-center space-y-4">
      <!-- Icono de éxito animado (puedes usar Lottie o SVG) -->
      <svg class="w-16 h-16 text-green-500 animate-bounce" fill="none" stroke="currentColor" stroke-width="2"
        viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
      </svg>

      <h2 class="text-2xl font-bold text-[#004C77]">¡Expediente registrado con éxito!</h2>
      <p class="text-gray-600 max-w-lg mx-auto">
        El expediente ha sido registrado y el cargo fue enviado al usuario emisor al correo:
        <span class="font-medium text-[#F36C21]">
          {{ correoEmisor }}
        </span>
      </p>
      <!-- Botones -->
      <div class="flex justify-center gap-4 mt-6">
        <button (click)="irAlInicio()" class="bg-[#004C77] text-white px-6 py-2 rounded hover:opacity-90 transition">Ir
          al inicio</button>
        <button (click)="visualizarExpediente()"
          class="bg-[#F36C21] text-white px-6 py-2 rounded hover:opacity-90 transition">Visualizar expediente</button>
      </div>
    </div>
  </div>

</div>