::ng-deep .mat-tooltip {
  text-align: center;
  white-space: normal;
  /* permite saltos de línea */
  max-width: 200px;
  /* ajustable según lo necesites */
  font-size: 13px;
  padding: 8px 12px;
  line-height: 1.4;
}

.label-obligatorio::after {
  content: ' *';
  color: #dc2626;
  /* rojo */
}