<aside class="h-screen bg-[#004C77] text-white fixed inset-y-0 left-0 w-64 z-50">
  <div class="flex flex-col h-full justify-between p-4">

    <div>
      <div class="flex items-center justify-between mb-6">
        <div class="flex items-center space-x-3">
          <img src="assets/DER.JPG" class="w-12 h-12 rounded-full border-2 border-white" alt="Perfil">
          <div>
            <p class="font-semibold text-sm">{{ nombreUsuario }}</p>
            <p class="text-xs text-white/80">{{ tipoUsuario }}</p>

          </div>
        </div>

        <button (click)="logout()" class="text-white hover:text-[#F36C21] transition" title="Cerrar sesión">
          <mat-icon class="mr-1 text-sm !cursor-pointer">exit_to_app</mat-icon>
        </button>

      </div>
      <div class="mb-4">
        <input type="text" [(ngModel)]="filtro" placeholder="Buscar..."
          class="w-full px-3 py-2 rounded bg-white/20 text-white text-sm placeholder-white/80 focus:outline-none focus:ring-2 focus:ring-[#F36C21]" />
      </div>
      <div class="space-y-2">
        <div *ngIf="coincideFiltro('inicio')">
          <a (click)="irAInicio()"
            class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
            <mat-icon class="mr-2 text-base !cursor-pointer">home</mat-icon>
            Inicio
          </a>
        </div>
        <a (click)="irADashboard()"
          class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
          <mat-icon class="mr-2 text-base !cursor-pointer">dashboard</mat-icon>
          Dashboard
        </a>

        <div *ngIf="coincideFiltro('expediente')" class="space-y-2">
          <button (click)="toggleSubmenuExpedientes()"
            class="flex items-center justify-between w-full px-1 py-2 text-sm rounded hover:bg-[#F36C21] transition cursor-pointer">
            <span class="flex items-center">
              <mat-icon class="mr-2 text-base !cursor-pointer">archive</mat-icon>
              Expedientes
            </span>
            <svg class="w-4 h-4 transform transition-transform" [ngClass]="{ 'rotate-90': submenuAbierto }" fill="none"
              stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
          </button>

          <div *ngIf="submenuAbierto && coincideFiltro('adicionar')" class="ml-6 space-y-1">
            <a (click)="irARegistroExpediente()"
              class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
              <mat-icon class="mr-2 text-base !cursor-pointer">add</mat-icon>
              Adicionar expediente
            </a>
            <a (click)="irA('monitoreo-expediente')"
              class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
              <mat-icon class="mr-2 text-base !cursor-pointer">visibility</mat-icon>
              Monitoreo expedientes
            </a>
          </div>
        </div>
        <div *ngIf="tipoUsuario === 'ADMIN'">
          <div *ngIf="coincideFiltro('maestras')" class="space-y-2">
            <button (click)="toggleSubmenuMaestras()"
              class="flex items-center justify-between w-full px-1 py-2 text-sm rounded hover:bg-[#F36C21] transition cursor-pointer">
              <span class="flex items-center">
                <mat-icon class="mr-2 text-base !cursor-pointer">table_chart</mat-icon>
                Maestras
              </span>
              <svg class="w-4 h-4 transform transition-transform" [ngClass]="{ 'rotate-90': submenuMaestras }"
                fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
              </svg>
            </button>

            <div *ngIf="submenuMaestras" class="ml-6 space-y-1">
              <a (click)="irA('proyectos')"
                class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
                <mat-icon class="mr-2 text-base !cursor-pointer">work</mat-icon>
                Proyectos
              </a>

              <a (click)="irA('usuarios-expedientes')"
                class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
                <mat-icon class="mr-2 text-base !cursor-pointer">supervised_user_circle</mat-icon>
                Usuarios Expedientes
              </a>

              <a (click)="irA('areas-grupos')"
                class="flex items-center px-1 py-2 text-sm rounded hover:bg-[#F36C21] hover:text-white transition cursor-pointer">
                <mat-icon class="mr-2 text-base !cursor-pointer">domain</mat-icon>
                Grupos & Áreas
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pt-4">
      <hr class="border-white/30 mb-2">
      <p class="text-[10px] leading-snug text-white/60 text-left">
        <a class="text-[12px] text-white/80"><strong>© 2025 Construnet.</strong></a><br>
        Todos los derechos reservados.
      </p>
    </div>
  </div>
</aside>