@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

/* Animación personalizada */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out;
}

html,
body {
  height: 100%;
  --mat-sys-primary: #004C77 !important;
}

::ng-deep .custom-dialog-container .mat-dialog-container {
  height: 90vh !important;
  max-height: none !important;
  display: flex;
  flex-direction: column;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  border-color: #cbd5e1;
  /* tailwind: border-gray-300 */
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
  border-color: #004C77 !important;
  border-width: 2px !important;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-thick {
  border-width: 1px;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
  box-shadow: none;
}
::ng-deep .custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
  border-radius: 1rem;
  overflow: hidden;
  max-height: 95vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

